.cookieImg{
    height: 100px;
    width: 100px;
}
.gameContent{
    display:flex;
    flex-direction: row;
    height: 100%;
    max-height: 100vh;
    width: 100%;
    max-width:100vw;
}
.mainSection{
    max-width:80%;
    width: 80%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;

    & [id="clickValue"],
    & [for="clickValue"]{
        max-width: 50%;
    }
}