.cookieImg{
    height: 100px;
    width: 100px;
}
.gameContent{
    display:flex;
    flex-direction: row;
    height: 100%;
    max-height: 100%;
    width: 100%;
}
.mainSection{
    max-width:50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;

    & [id="clickValue"],
    & [for="clickValue"]{
        max-width: 50%;
    }
}

.bakerSection{
    border:1px solid #FFF;
    width: 100%;
    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
}
