.storeItem{
    border:1px solid #777;
    padding:5px;

    &:not(:last-child){
        margin-bottom: 10px;
    }

    & button{
        width:100%;
    }

    & button:not(:last-child){
        margin-bottom: 5px;
    }
}
